.gitattributes          export-ignore
.gitignore              export-ignore
README.md               export-ignore
TECHNICAL_README.md     export-ignore
LICENSE                 export-ignore

icon/                   export-ignore
dependencies/**         export-ignore

LogiSwitch.c            export-ignore
Configure.c             export-ignore
Unifiedswitch.c         export-ignore
config.ini              export-ignore

*_debug.exe             export-ignore
*_debug.c               export-ignore
TestMouse.c             export-ignore
TestKeyboard.c          export-ignore